<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>compilers</title>
</head>

<body>
    <div class="main">
        <h1>&nbsp;&nbsp; Advance AI &nbsp;&nbsp;</h1>

        <form action="/" method="post">
            <label for="textarea" class="tbody">Enter your text:</label>
            <textarea id="textarea" name="command1"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>